<body>
  <div class="content-section">
    <video autoplay muted loop class="video-size">
      <source src="../../../assets/intro.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>

    <div class="container">
      <div class="form-box" id="formBox">
        <div>
          <button class="back-button" (click)="back()"><i class="fas fa-arrow-left"></i> Back</button>
        </div> <br>
        <br>
        <h2>{{isEditMode ? 'Edit Property' :'Add New Property'}}</h2>
        <form #addpropertyform="ngForm" (ngSubmit)="onSubmit()">
          <table>
            <tr>
              <td><label for="title"><i class="fas fa-file-alt"></i> Title:*</label></td> <br>
              <td><input type="text" name="Title" [(ngModel)]="property.Title" required></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>
                <div *ngIf="addpropertyform.submitted && !property.Title" class="error-message">
                  Title is required
                </div>
              </td>
            </tr>
            <tr>
              <td><label for="description"><i class="fas fa-align-left"></i> Description:*</label></td>
              <br>
              <td><textarea id="description" name="Description" [(ngModel)]="property.Description" required></textarea>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>
                <div *ngIf="addpropertyform.submitted && !property.Description" class="error-message">
                  Description is required
                </div>
              </td>
            </tr>
            <tr>
              <td><label for="location"><i class="fas fa-map-marker-alt"></i> Location:*</label></td> <br>
              <td><input type="text" id="location" name="Location" [(ngModel)]="property.Location" required></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>
                <div *ngIf="addpropertyform.submitted && !property.Location" class="error-message">
                  Location is required
                </div>
              </td>
            </tr>
            <tr>
              <td><label for="areaSize"><i class="fas fa-ruler-combined"></i> Area Size (in sq.ft.):*</label></td> <br>
              <td><input type="number" id="areaSize" name="AreaSize" [(ngModel)]="property.AreaSize" required min="1">
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>
                <div *ngIf="addpropertyform.submitted && !property.AreaSize" class="error-message">
                  Area size is required
                </div>
              </td>
            </tr>
            <tr>
              <td><label for="price"><i class="fas fa-dollar-sign"></i> Price:*</label></td> <br>
              <td><input type="number" id="price" name="Price" [(ngModel)]="property.Price" required min="1"></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>
                <div *ngIf="addpropertyform.submitted && !property.Price" class="error-message">
                  Price is required
                </div>
              </td>
            </tr>
            <tr>
              <td><label for="numberOfOwners"><i class="fas fa-users"></i> Number of Owners:*</label></td>
              <br>
              <td><input type="number" id="numberOfOwners" name="NumberOfOwners" [(ngModel)]="property.NumberOfOwners"
                  required min="1" max="5"></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>
                <div *ngIf="addpropertyform.submitted && (!property.NumberOfOwners || property.NumberOfOwners > 5)"
                  class="error-message">
                  Number of owners is required and should be less than 6
                </div>
              </td>
            </tr>
            <tr>
              <td><label for="isDtcpApproved"><i class="fas fa-check-circle"></i> DTCP Approved: <i
                    class="fas fa-info-circle" style="color:#ff5722; cursor:pointer;"
                    title="Ensures the property is legal, safe, and well-planned for buyers and facilitating investments">
                  </i></label></td> <br>
              <td class="left-align"><input type="checkbox" id="isDtcpApproved" name="IsDtcpApproved"
                  [(ngModel)]="property.IsDtcpApproved"></td>
            </tr>
            <tr>
              <td colspan="3">
                <div class="submit-container">
                  <button type="submit"><i class="fas fa-paper-plane"></i> {{isEditMode ? 'Update': 'Submit'}}</button>
                </div>
              </td>
            </tr>
          </table>
        </form>
      </div>
      <div class="popup" *ngIf="showPopup">
        <div class="popup-content">
          <p>{{ isEditMode ? 'Property Updated Successfully!' : 'Property Added Successfully!' }}</p>
          <button (click)="onPopupOk()">OK</button>
        </div>
      </div>
    </div>
  </div>
</body>