<div class="content-section">
    <!-- <img src="../../../assets/intro.mp4" alt="Background Image" class="background-image"> -->
    <!-- Your content here -->
     <video autoplay muted loop class="video-size">
      <source src="../../../assets/intro.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <section class="content-section">
        <p>
            LandMaster is a comprehensive platform designed to streamline real estate management by
            facilitating the creation, management, and approval of property listings and land.
            By providing an intuitive interface, LandMaster empowers administrators to efficiently post land
            requirements and enables users to submit detailed property information. Whether you're an
            administrator managing land needs or a user adding property details, LandMaster offers robust
            tools to facilitate approval processes, track submissions, and manage property information.
            Through fostering collaboration between administrators and users, LandMaster creates an
            efficient environment where real estate opportunities are effectively managed and fulfilled.
        </p>
    </section>
</div>
